Repository excaliburjs/excaliburjs.github.io, pull requests merged in 2020-10, with the labels that each got.

#53 docs: Update documented usage for label constructor
  docs/14-ui.mdx
Labels: hacktoberfest-accepted

#54 chore: switch to main repo
  docs/01-installation.mdx
  gatsby-config.js
Labels: hacktoberfest-accepted

#55 Replace google group link with github discussions
  docs/00-welcome.mdx
  gatsby-config.js
  src/components/footer.js
  src/components/layout.js
  src/components/nav.js
Labels: docs

#56 feat: add docs search from Algolia
  .gitignore
  gatsby-config.js
  package-lock.json
  package.json
  semantic.json
  src/assets/ui/semantic.css
  src/assets/ui/semantic.min.css
  src/templates/DocsPageTemplate.js
  ui/dist/components/input.css
  ui/dist/components/input.min.css
  ui/dist/components/site.css
  ui/dist/components/site.min.css
  ui/src/site/globals/site.overrides
Labels: docs, enhancement, hacktoberfest-accepted
